.div-container-input {
  display: flex;
  flex-direction: column;
}

.h6-label {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  padding-left: 11px;
}

.input-properties {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 34px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #4a4dff;
  text-indent: 15px;
}

/* Placeholder de estilo inicial */
.input-properties::placeholder {
  color: #888; /* Placeholder con color tenue */
  font-size: 14px;
}

/* Placeholder cuando el input está en foco */
.focused-input::placeholder {
  color: #555; /* Placeholder con color más fuerte */
}

/* Estilo del texto cuando el input no está enfocado */
.blurred-input {
  color: #000;
}

/* Estilo del texto cuando el input está enfocado */
.focused-input {
  color: #333;
}

/* Tamaños de los inputs */
.xsmall-input {
  width: 175px;
}

.small-input {
  width: 235px;
}

.medium-input {
  width: 300px;
}

.large-input {
  width: 300px;
}
