.div-container { /* div padre de todo */
  display: flex;
 /* background: #e2eb26; */
  max-width: 1010px;
  height: 460px;
  margin: 0 auto;
  flex-direction: column;
}

.name-module {
  /*background: #4B4747;*/
  height: 60px;
  display: flex;
  align-items: center;
}

.name {
  /* background: #f0f0f0;  */
  color: #11325A; 
  position: relative; 
  left: 20px;
}

.alert-name{
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: center;
  position: relative; 
  left: 50px; 
}

.header-data {
  background: #201193;
  height: 51px;
  width: 1010px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: space-between;     
}

.register {
  /* background: #ffffff;*/
  height: 30px;
  width: 400px;
  position: relative; 
  left: 20px; 
}

.list {
  /* background: #f20000; */
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 21px;
  width: 290px;
}

.padre-contenedor {
  display: flex;
  flex-direction: column;
  width: 1010px;
  /*row-gap: 20px;*/
  background: #100871;
  /*padding-bottom: 19px;
  padding-top: 19px;
  padding-inline: 19px;*/
  margin-bottom: 15px; 
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.datos_seccion1{
  /* background: #ff00bf;  */
  display: flex;
  margin-top: 10px;
}

.datos_seccion2{
  /* background: #f70000;  */
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nombre_profesor{
  display: flex;
  align-items: center;
  flex-direction: column;
 /* background: #000000; */
  margin-left: 15px;
  width: 315px;
}

.nombre_taller{
 display: flex;
 align-items: center;
 flex-direction: column;
 /* background: #8aff23; */
 margin-left: 30px; 
 width: 225px;
}

.puntos-taller{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #8bad56; */
  margin-left: 18px; 
  width: 190px;
}
.cupos-taller{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #b300ff; */
  margin-left: 18px; 
  width: 190px;
}

.periodo-escolar{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #e6ff05; */
  margin-left: 40px;
}
.contenedor-horarios{
  background-color: #4B4747;
  width: auto;
  margin-left: 20px; 
}

.horarios{
  background: #00ff26; 
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.titulo-horario{
  /* background: #0015ff; */
  width: auto;
  height: 26px;
}

.name-horario{
  padding: 0;
  margin: 0;
  background: #00ff26;
  /* width: 160px;*/
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 19px;
  padding-left: 11px;
}

.horario-tallerinicio{
background: #8930c8;
  width: auto;
  /*margin-left: 30px;  */
  display: flex;
  flex-direction: column;
}

.horario-tallerfin{
 background: #0dbeff;
  width: auto;
  margin-left: 5px; 
  display: flex;
  flex-direction: column;
}

.ubicacion{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #caff0c; */
  width: 310px;
  margin-left: 18px;
}

.turno{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #c0d4d0; */
  width: 190px;
  margin-left: 20px; 
}

.button{
  /*background: #f70000;*/
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  /*background: #0015ff;*/
  height: 45px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.datos_seccion3{
  /* background: #000000; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.dias_taller{
  /* height: 70px; */
  width: auto;
  /* background: #00ff26; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 40px; 
}
/* ----------------------------------- */