/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(163, 169, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; /* Centra el contenido del modal */
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .modalBody {
    margin-top: 20px;
  }
  
  .modalBody img {
    max-width: 70px; /* Ajusta este valor según el tamaño deseado de la imagen */
    margin-bottom: 20px;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .closeModalButton {
    background-color: #720200;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .closeModalButton:hover {
    background-color: #480000;
  }
  