/* Estilos principales de la barra lateral */
.sidebar {
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: #0080ff;
  display: flex;
  flex-direction: column;
}

/* .open {
  /* Puedes agregar más estilos para cuando el sidebar esté abierto, si es necesario */
/*} */

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-size: 1.2em;
}

nav ul li a:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

nav ul li a.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

nav ul li a svg {
  margin-right: 10px;
  font-size: 1.5em;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #dee2e6;
}

/* Contenedor del logo */
.logo-container {
  margin-top: auto;
  padding: 20px;
}

.sidebar-logo {
  width: 100%;
  object-fit: contain;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

}

/* .home-container {
  padding: 20px;
} */

.header {
  /* background: #007bff; */
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  /* background: #4602a0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espacio entre las cajas */
  width: 100%;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 20px;
  width: 45%; /* Ajusta el tamaño para que se acomoden 2 cajas en una fila */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea el texto y el icono */
  border-left: 5px solid #4e73df; /* Azul */

}



.card:hover {
  transform: translateY(-5px);
}

.card-content {
  /* background: #007bff; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-text {
  /* background: #4602a0; */
  text-align: left;
}

.card-text h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4e73df;
}

.contenedor-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #007bff; */
  padding: 5px;
}
/* .card-text p {
  font-size: 20px;
  font-weight: bold;
  color: #858796;
} */

.text{
  /* background: #007bff; */
  font-size: 16px;
  font-weight: bold;
  color: #858796;
}

.card-icon {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.15);
}

.table-section {
  height: 100%;
  width: 100%;
  /* background: #ff0000; */
  /* width: 100%; */
  /* max-width: 800px; */
  /* margin-top: 20px; */
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* th, td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: left;
} */

th {
  background-color: #007bff;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;

}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%; /* Las cajas ocupan más espacio en pantallas pequeñas */
    margin-bottom: 1px;
  }

  .table-section {
    max-width: 100%;
  }

  .contenedor-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #007bff; */
    padding: 5px;
  }
}

.header-content {
  /* background: #007bff; */
  display: flex;
  justify-content:center;
  align-items: center;

}

.titulo{
  color: #000000cd;
/* background: #00ff22; */
}
.current-date {
  font-size: 1.2em;
  color: #6c757d;
}

.logo-container {
  margin-top: auto;
  padding: 20px;
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
}

/* Ajusta la imagen del logo para que no se salga del contenedor */
.sidebar-logo {
  width: 100%; /* Ajusta el tamaño al 100% del contenedor */
  max-width: 150px; /* Máximo ancho permitido */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen no se deforme ni se corte */
  max-height: 100px; /* Evita que la imagen sea demasiado alta */
}

.upload-message {
  margin-top: 10px;
  font-size: 0.9em;
  color: green;
  text-align: center;
}
