.container-buttonupdate {
  font-weight: 300;
  width: 40px;
  font-size: 12px;
  line-height: 15px;
  background: hsl(51, 100%, 50%);
  height: 40px;
  color: rgb(247, 239, 239);
  border-radius: 50%;
  border: none;  
  cursor: pointer;
}

.container-buttonupdate:hover {
  background: #dff3005d;
}

.container-buttonupdate:active {
  background: rgb(97, 109, 5);
}

.button-icon {
  margin-right: 0px;
}