.div-container-input {
    /* background-color: rgb(255, 0, 0); */
    padding: 3px; 
    width: auto;
  }
  
  .h6-label {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    padding-left: 11px;
    margin-bottom: 10px; 
  }
  
  .options-container {
    display: flex; 
    gap: 20px; 
  }
  
  .name-value {
    display: flex;
    align-items: center; 
    margin: 0;
    font-size: 14px;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    gap: 3px; 
    font-weight: 550;

  }
  